[mysqld]
server-id=3
skip-slave-start = FALSE
replicate-do-table=produccion.categorias
replicate-do-table=produccion.marcas
replicate-do-table=produccion.productos
replicate-do-table=ventas.clientes
replicate-do-table=ventas.tiendaTexas
replicate-do-table=ventas.empleadosTexas
replicate-do-table=ventas.ordenesTexas
replicate-do-table=ventas.detalleOrden
replicate-do-table=produccion.inventarioTexas
replicate-do-table=ventas.ordenes