version: '3.4'

services:
  bikes:
    image: abstractize/bikes
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - DATABASE_STRING=server=db;user id=root;password=p455w0rd;port=3306;database=bikes;
    ports:
      - "80"
      - "443"
    volumes:
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  client:
    image: abstractize/bikesclient
    build:
      context: .
      dockerfile: ClientApp/Dockerfile
    ports:
      - "4200:4200" 
      - "49153:49153"
    environment:
      - SERVER_URL=https://localhost:5001
    volumes:
      - ./ClientApp:/app 

  masterDB:
    image: mysql
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=bikes
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=p455w0rd
    ports:
      - 3306:3306
    volumes:
      - ./mariadb:/docker-entrypoint-initdb.d:rw
      - ./mariadb/data/MYSQLServers/MasterDB:/var/lib/mysql:rw
      - ./mariadb/data/Scripts/cnf/master:/etc/mysql/conf.d

  slaveDB:
    image: mysql
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=p455w0rd
    ports:
      - 3307:3306
    volumes:
      - ./mariadb:/docker-entrypoint-initdb.d:rw
      - ./mariadb/data/MYSQLServers/SlaveDB:/var/lib/mysql:rw
      - ./mariadb/data/Scripts/cnf/slave:/etc/mysql/conf.d

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080