version: '3.4'

services:
  bikes:
    image: abstractize/bikes
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
    ports:
      - "80"
      - "443"
    volumes:
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  client:
    image: abstractize/bikesclient
    build:
      context: .
      dockerfile: ClientApp/Dockerfile
    ports:
      - "4200:4200" 
      - "49153:49153"
    volumes:
      - ./ClientApp:/app 

  db:
    image: mysql
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=bikes
      - MYSQL_ROOT_PASSWORD=secret-password
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=p455w0rd
    ports:
      - 3306:3306
    volumes:
      - ./mariadb:/docker-entrypoint-initdb.d:rw
      - ./mariadb/data:/var/lib/mysql:rw


  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080