version: '3.4'

services:
  bikes:
    image: abstractize/bikes
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - DATABASE_STRING=server=NewYorkDB;user id=root;password=12345;port=3306;database=ventas;
      - DATABASE_STRING_NY=server=NewYorkDB;user id=root;password=12345;port=3306;database=ventas;
      - CITY=NY
    ports:
      - "5000:80"
      - "5001:443"
    volumes:
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  client:
    image: abstractize/bikesclient
    build:
      context: .
      dockerfile: ClientApp/Dockerfile
    ports:
      - "4200:4200" 
      - "49153:49153"
    environment:
      - SERVER_URL=https://localhost:5001
    volumes:
      - ./ClientApp:/app 

  admin:
    image: abstractize/bikesadmin
    build:
      context: .
      dockerfile: AdminApp/Dockerfile
    ports:
      - "4300:4300" 
      - "49150:49150"
    environment:
      - SERVER_URL=https://localhost:5001
    volumes:
      - ./AdminApp:/app 

  NewYorkDB:
    image: mysql
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=p455w0rd
    ports:
      - 3306:3306
    volumes:
      - ./mariadb:/docker-entrypoint-initdb.d:rw
      - ./mariadb/data/MYSQLServers/NewYorkDB:/var/lib/mysql:rw
      - ./mariadb/Scripts/cnf/NewYork:/etc/mysql/conf.d

  CaliforniaDB:
    image: mysql
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=p455w0rd
    ports:
      - 3307:3306
    volumes:
      - ./mariadb:/docker-entrypoint-initdb.d:rw
      - ./mariadb/data/MYSQLServers/CaliforniaDB:/var/lib/mysql:rw
      - ./mariadb/Scripts/cnf/California:/etc/mysql/conf.d

  TexasDB:
    image: mysql
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=p455w0rd
    ports:
      - 3308:3306
    volumes:
      - ./mariadb:/docker-entrypoint-initdb.d:rw
      - ./mariadb/data/MYSQLServers/TexasDB:/var/lib/mysql:rw
      - ./mariadb/Scripts/cnf/Texas:/etc/mysql/conf.d

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080