<div class="container">
<div class="ng-autocomplete">
    <h1>Total Income</h1>
    <p>&nbsp;</p>
    <h1>Select a Client</h1>
    <ng-autocomplete [data]="clients" [searchKeyword]="keyword" (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>
    <p>&nbsp;</p>
    <h1>Select an initial date</h1>
    <input matInput [matDatepicker]="picker1" [(ngModel)] = "pickerS">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <p>&nbsp;</p>
    <h1>Select an due date</h1>
    <input matInput [matDatepicker]="picker2" [(ngModel)] = "pickerE">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
    <p>&nbsp;</p>
    <button mat-raised-button color="primary" (click)="getTotal($event)">Buscar</button>
    <p>&nbsp;</p>
    <h1 *ngIf="totalOrders != -1">The client has made a total of: {{totalOrders}} orders in this time period.</h1>
</div>
