<header>
    <div class="jumbotron" id="jumboACP">
        <h1 class="display-4" ><strong>Average Purchases by Client</strong></h1>
        <h4 class="lead">Check your clients averge purchases by date.</h4>
        <hr class="my-4">
        <h5>Select a Start date and a End date to search for the clients data.</h5>
        <br>
        <form [formGroup]="dateForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col">
              <input  class="form-control" formControlName="fDate" id="fdate" type="date" [(ngModel)]="fromDate" name="startDate"  required/>
            </div>
            <div class="col">
              <input  class="form-control" formControlName="tDate" id="tdate" type="date" [(ngModel)]="toDate" name="EndDate" required/>            
            </div>
            <div class="col">
              <button type="submit" [disabled]="!dateForm.valid" class="btn" id="submmit"><strong>Submit</strong></button>
            </div>
          </div>
        </form>
    </div>
</header>

<div class="container">
  <div class="card-deck" *ngFor="let user of users$" id="userCard">
    <div class="card" id="userCardCont">
        <div class="card-body">
          <h2 class="card-title"><u> <strong>{{ user.clientName }} {{ user.clientLastName }}</strong></u> </h2>
          <h4 class="card-text">Purchases Average: {{ user.averagePurchases }}</h4>
        </div>
      </div>
  </div>
</div>