#jumboACP {
  background-color: #41729f;
  color: #e6e6e6;
  font-family: "Poppins", sans-serif;
}

#userCard {
  margin-top: 50px;
  margin-bottom: 50px;
}

#userCardCont {
  background-color: #e6e6e6;
  color: #4d4d4d;
  font-family: "Poppins", sans-serif;
}

#submmit {
  background-color: #c3e0e5;
  color: #4d4d4d;
  font-family: "Poppins", sans-serif;
}
