<h1 class="display-4" id="Label">Please Choose a Store</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/amount/store/NY']">New York</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/amount/store/CA']">California</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/amount/store/TX']">Texas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/amount/store/All']">All</a>
  </li>
</ul>



