[mysqld]
server-id=2
skip-slave-start = FALSE
replicate-do-table=produccion.categorias
replicate-do-table=produccion.marcas
replicate-do-table=produccion.productos
replicate-do-table=ventas.clientes
replicate-do-table=ventas.tiendaCalifornia
replicate-do-table=ventas.empleadosCalifornia
replicate-do-table=ventas.ordenesCalifornia
replicate-do-table=ventas.detalleOrden
replicate-do-table=produccion.inventarioCalifornia
replicate-do-table=ventas.ordenes