<div class="ng-autocomplete" id="div-body">
    <h1>Total Income</h1>
    <p>&nbsp;</p>
    <h1>Select a Client</h1>
    <ng-autocomplete [data]="clients" [searchKeyword]="keyword" (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>
    <p>&nbsp;</p>
    <h1>Select an initial date</h1>
    <input matInput [matDatepicker]="picker1" [(ngModel)] = "pickerS">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <p>&nbsp;</p>
    <h1>Select a last date</h1>
    <input matInput [matDatepicker]="picker2" [(ngModel)] = "pickerE">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
    <p>&nbsp;</p>
    <button mat-raised-button color="primary"  id="submmit"(click)="getTotal($event)">Search</button>
    <p>&nbsp;</p>
    <table class="table table-striped" *ngIf="orders">
        <thead>
          <tr>
            <th scope="col">Id Order</th>
            <th scope="col">FechasOrden</th>
            <th scope="col">RequiredDate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.orderId}}</td>
            <td>{{ order.fechasOrden}}</td>
            <td>{{ order.requiredDate }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>TOTAL: </td>
            <td colspan="3">${{totalOrders}}</td>
          </tr>
        </tfoot>
      </table>
